$blueprint-liquid-grid-columns: 18;
$blueprint-liquid-container-min-width: 705px;

@import "blueprint/liquid";

.container {
  @include container;
}

#nav {
  @include prepend(1);
  @include column(2);
  @include min-width(70px);
  margin-top: 130px;
}

#content {
  @include column(15);
  @include min-height(650px);
  min-width: 545px;
  background: rgba(255,255,255,0.5);
  margin-top: 90px;
  padding: 20px;
  font-family: 'Caudex', serif;
}
