---
title: live
layout: content
---

%div
  %h3 Availability
  %p
    The Ligatures are available to perform in and about the San Francisco
    Bay Area. To inquire about specific dates or venues, please contact
    sax@theligatures.com
