/* line 45, navigation */
.navigation-sprite, .navigation-bios, .navigation-listen, .navigation-live, .navigation-photos, a#bios, a#photos, a#listen, a#live { background: url('/images/sprites/navigation-sd28dad45a4.png') no-repeat; }

/* line 60, ../../../.rvm/gems/ruby-1.8.7-p299@ligatures/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.navigation-bios { background-position: 0 0; }

/* line 60, ../../../.rvm/gems/ruby-1.8.7-p299@ligatures/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.navigation-listen { background-position: 0 -91px; }

/* line 60, ../../../.rvm/gems/ruby-1.8.7-p299@ligatures/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.navigation-live { background-position: 0 -182px; }

/* line 60, ../../../.rvm/gems/ruby-1.8.7-p299@ligatures/gems/compass-0.11.4/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.navigation-photos { background-position: 0 -273px; }

/* line 9, ../_sass/shared/_styles.scss */
body { background: #c2da8b url(/images/background.png) repeat 0 0; }

/* line 2, ../_sass/shared/_styles.scss */
a#bios { background-position: 0 0; text-indent: -119988px; overflow: hidden; text-align: left; width: 76px; height: 91px; }
/* line 2, ../_sass/shared/_styles.scss */
a#photos { background-position: 0 -273px; text-indent: -119988px; overflow: hidden; text-align: left; width: 76px; height: 91px; }
/* line 2, ../_sass/shared/_styles.scss */
a#listen { background-position: 0 -91px; text-indent: -119988px; overflow: hidden; text-align: left; width: 76px; height: 91px; }
/* line 2, ../_sass/shared/_styles.scss */
a#live { background-position: 0 -182px; text-indent: -119988px; overflow: hidden; text-align: left; width: 76px; height: 91px; }

/* line 2, ../_sass/main/_index.scss */
#index h1 { margin: 8% auto 0; text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('/images/logo.png?1306879819'); background-repeat: no-repeat; background-position: 0 0; width: 418px; height: 219px; }
/* line 7, ../_sass/main/_index.scss */
#index div { width: 586px; height: 125px; margin: 65px auto 0; }
/* line 12, ../_sass/main/_index.scss */
#index div a { display: block; float: left; margin-right: 94px; }
/* line 17, ../_sass/main/_index.scss */
#index div a:last-child { margin: 0; }
