@mixin nav-button($type) {
  &##{$type} {
    @include navigation-sprite($type, false, 0, 30);
    @include link-colors(#1E3723, #191919);
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Arima", sans-serif;
    font-height: 20px;
    display: block;
    width: 76px;
    height: 121px;
    padding-top: 10px;
  }
}

body {
  background: #C2DA8B url(/images/background.png) repeat 0 0;
  h1 {
    a {
      display: block;
    }
  }
}

a {
  @include nav-button(bios);
  @include nav-button(photos);
  @include nav-button(listen);
  @include nav-button(live);
}
